body {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  border: 1px solid grey;
}
th, td {
  border: 1px solid grey;
}


.pin {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  display: inline-flex;
}

.pin.passed {
  background-color: green;
}
.pin.failed {
  background-color: red;
}

table.punchcard {
  font-size: 12px;
}
table.punchcard th, table.punchcard td {
  font-weight: normal;
  border: none;
}

table.punchcard thead div.build-id {
  transform: rotate(-90deg);
  transform-origin: 5px 2px 0;
  text-align: left;
  width: 0;
}
table.punchcard thead a {
  text-decoration: none;
}
table.punchcard thead a:hover {
  text-decoration: underline;
}
table.punchcard thead a.success {
  color: green;
}
table.punchcard thead a.failure {
  color: red;
}
table.punchcard thead a.aborted {
  color: #d4d4d4;
}

table.punchcard tbody th {
  text-align: right;
  padding-right: 10px;
}

table.punchcard tbody tr:hover td, table.punchcard tbody tr:hover th {
  background: #f1f1f1;
}


